html {
    background: #fffaf1;
}


body {
    font-family: Helvetica, sans-serif;
    color: #010101;
    padding: 0 60px;
    text-align: center;
}

h1 {
    font-size: 100px;
}

.title {
    text-align: start;
    font-size: 60px;
    margin-bottom: 250px;
}

button {
    color: #fffaf1;
    border-color: #010101;
    border-radius: 5%;
    padding: 15px;
    font-size: 24px;
    background-color: orangered;
}

button:hover {
    cursor: pointer;
}